*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/P1/nbproject/private/
/P1/build/
/Algoritmos/nbproject/private/



# Ficheros a ignorar de LaTeX
*.pdf 	#ignoramos los pdfs porque se pueden regenerar
!_*.pdf	# No ignoramos los pdfs que empiecen por "_" (los enunciados o lo que sea)

*.auxlock
*.nb
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.ithmc
.fuse*
*.kate-swp
*.backup
!_*.pdf
*.bak
Icon*
tikzaux*
output/
*.ign.*
_test.*
*.synctex.*

# Archivos a ignorar de tikzgen
!.keep
!tikzgen/.gitkeep
tikzgen/*
*.dpth
*.md5
*.dep

# .swp de Vim
*.swp

*~
*.sublime-project
